<a href="https://colab.research.google.com/github/YaminiGarikapati/Homework1/blob/main/HW1_700732498.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import statistics

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#a)
ages.sort() # sort() is used to order the values in a given string
print(ages) 
print("Maximum value in the list", max(ages))
print("Minimum value in the list", min(ages))
#b)
ages.append(min(ages)) # Adding minimum age to list
ages.append(max(ages)) # Adding maximum age to list 
print("After Adding the max and min value",ages)
#c)
P = 0
for i in range(len(ages)):
    P = P +ages[i]
print("Average age is ",P/len(ages))
# Average age of the above list
#d)
print("Median age is : % s "
        % (statistics.median(ages)))
# Median of the list 
#e)
print("Range  : ", max(ages)-min(ages))
# Range of the list

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Maximum value in the list 26
Minimum value in the list 19
After Adding the max and min value [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Average age is  22.75
Median age is : 24.0
Range  :  7

In [ ]:
#2
#a)
dog = {} 
# A blank dictionary called dog is created
#b)
dog = {"name":"", "color":"", "breed":"", "legs":"", "age":""}
# Adding the above keys to the dog dictionary
#c)
student = { "first_name": 'Yamini', "last_name": 'Garikapati' , "gender": 'Female', "age": '24', "marital status": 'Single', 
           "skills":['Java','Azure','HTML'], "country":'India', "city": 'Guntur',  "address":'A.T agraharam'}
# Created a student dictionary and added the values to the keys in dictionary
#d)
print("Student dictionary length is:", len(student))
# Student dictionary Length is printed
#e)
print(student.get('skills'))
# Value of skills are printed
#f)
student['skills'].append("Security") # Adding Skills to the list
student['skills'].append("AWS") # Adding Skills to the list
#g)
print("Dictionary keys list", student.keys())
# List of Dictionary keys are printed
#h)
print("Dictionary Values list", student.values())
# List of Dictionary values are printed

In [ ]:
#3
#a)
brothers = ("Pavan", "Venkat", "Surya") 
sisters = ("Soujanya", "Pranathi")
# A tuple of sister and brothers are created and names are included
#b)
siblings = brothers+sisters
print("Siblings :",siblings)
# brothers and siblings are joined and assigned to siblings
#c)
y =  len(siblings)
print("Siblings are: ",y)
# The length of the siblings are
#d)
s = siblings + ("Venkatesh","Jyo")
# Siblings are modified added the father and mother names to the family_members
Family_Members = s
print("Family Members are", s)
# After modifying the siblings the family members are printed

In [ ]:
#4).
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#a)
m = len(it_companies) #length of IT_companies
print("Length of the IT_companies", m)

#b)
it_companies.add('Twitter') # New company is added to the existing IT_companies
print("IT_companies list after adding the new company", it_companies)

#c)
new_companies = ['Intel','MindTree','ADM']
it_companies.update(new_companies) #update() is used for updating the list
print("After adding multiple IT_companies", new_companies)

#d)
it_companies.remove('Google') #remove() is used to remove the item in the list
print("It_Companies list after removing Google = ", it_companies)

#e)
print("When you try to remove item that is not in the list the remove() method will throw an error where as discard() will not")

#f)
J = A.union(B) # union() it joins A and B sets
print ("Joined A and B are", J)

#g)
I =A.intersection(B) #intersection() shows the common data on A and B
print("After intersecting A and B ", I)

#h)
print(" A subset to B are not", A.issubset(B)) #issubset() Gives either A subset to B are not 

#i)
print(" Is A and B disjoint sets are not ",A.isdisjoint(B)) #isdisjoint() gives the disjoint set with boolean value

#j)
joined_1 = A.union(B) # A and B Joined
joined_2 = B.union(A) # B and A Joined
print(" After joining A and B ", joined_1)
print(" After joining B and A ",joined_2)

#k)
sym_diff = A.symmetric_difference(B) 
print("The Symmetric difference between A and B are ", sym_diff)

#L)
del A
del B
# Deleting the sets


#m)
Age_Set = set(age)  # Converting from list to set
print("Convering ages to the set", Age_Set)
print("Comparing length of the list and length of the set ",len(age)-len(Age_Set))

In [ ]:
#5

Radius = 30

#Area of a circle 
area_of_circle = 3.141 * Radius * Radius
print("Area of the circle is: ",area_of_circle)

#Circumference of the circle
circum_of_circle = 2 * 3.141 * Radius 
print("Circumference of the circle is: " ,circum_of_circle)

Radius1 = int(input("Enter the radius value"))
Area = 3.141 * Radius1 * Radius1

print("Radius of the given value = ",Radius1,"\nArea is: ",Area)

In [ ]:
#6

Quote = "I am a teacher and I love to inspire and teach people"

# For getting the individual elements the string is splitted
m = Quote.split(" ") # m = splitting the words
m_set = set(m)
print("Sets are ",m_set)
print("Number of unique words in the sets:",len(m_set))

In [ ]:
#7
print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

In [ ]:
#8
radius = 10
area = 3.14 * radius ** 2

print('The area of a circle with radius',radius,'is %.0f' %(area),'meters square.')

In [ ]:
# Input is taken dynamically
L = int(input('Enter the length'))

# creating two lists one for lbs and other for kgs
list = []
con_list =[]
for i in range (0,L,1) :
    S =  float(input('Enter the value'))
    list.append(S)

for i in range (0,L,1):
      T = list[i] * 0.453592
      con_list.append(round(T,2))
print("\n After converting into kgs ",con_list)